<ion-view hide-nav-bar="true" title="">
  <ion-content padding="true">
    <div class="home--content">
      <div class="text-center">
        <h2>Welcome to Pickalo!</h2>

        <p>
          Wanna do a quick poll? Just tap the button below, fill the info and ask your friends!
        </p>
      </div>
      <div class="col text-center">
        <a class="button button-positive " ui-sref="new">
          New Pickalo!
        </a>
      </div>
      <div class="col text-center">
        <a class="button button-positive " ui-sref="index">
          All my pickalos
        </a>
      </div>
    </div>
  </ion-content>
</ion-view>
