<ion-view title="Results for your Pickalo">
  <ion-content padding="true">
    <h1>{{pickalo.form.question}}</h1>

    <div class="list card">
      <li class="item" ng-repeat="answer in pickalo.answers">
        {{answer.option}} <span class="badge badge-assertive">{{answer.votes}}</span>
      </li>
    </div>

    <button ng-click="refreshPickalo()" class="button button-block button-positive icon-left ion-refresh">
      Refresh
    </button>
    <button ng-click="share(pickalo)" class="button button-block button-positive icon-left ion-android-share-alt">
      Share
    </button>
  </ion-content>
</ion-view>
